*{
    margin: 0;
    padding: 0;
    font-family: ubuntu;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(175, 203, 175);
}

#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
}

#ptop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30%;
    color: #fff;
    width: 100%;
    height: 100px;
    background-color: rgb(75, 116, 75);
}

.elem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.elem h3{
    font-weight: 500;
    font-size: 22px;
}

.box{
    color: rgb(95, 142, 95);
    font-weight: 600;
    font-size: 22px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    color: rgb(75, 116, 75);
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgb(75, 116, 75);
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
    font-size: 20px;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(49, 83, 49);
}

